* {
    font-family: FontAwesome, Hack;
    font-size: 22px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
}

widget > *:not(#tray) {
    padding: 1rem 0.5rem;
}

#bluetooth.disabled {
    color: #444444;
}

#bluetooth.off {
    color: #aa4444;
}

#bluetooth.pairable,
#bluetooth.connected {
    color: #44aa44;
}

#clock {
    color: #44ffff;
}
