* {
    font-family: FontAwesome, Hack;
    font-size: 12px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
}

widget > *:not(#tray) {
    padding: 0.8rem 0.2rem;
    margin: 0.1rem 0.2rem;
    border-radius: .8rem;
}

widget > *:last-child {
    margin-bottom: 0;
}

#wireplumber {
    background: rgba(0, 200, 0, 0.2);
}

#bluetooth.disabled {
    color: #444444;
}

#bluetooth.off {
    color: #aa4444;
}

#bluetooth.pairable,
#bluetooth.connected {
    color: #44aa44;
}

#clock {
    color: #44ffff;
}

button {
    border: 1px solid red;
}

#battery {
    background-color: rgba(50, 50, 150, 0.5);
}

#battery.charging, #battery.plugged {
    background-color: rgba(50, 150, 50, 0.5);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(150, 50, 50, 0.5);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
